# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.db
*.opendb
*.suo

# Executables
*.exe
*.out
*.app
/.vs/GpuGalaxy/v15/ipch/AutoPCH
/.vs/GpuGalaxy/v15/Browse.VC.db
/.vs/GpuGalaxy/v15/Browse.VC.opendb
